[submodule "exams"]
	path = exams
	url = https://github.com/JackWang2120/exams.git
[submodule "learning-cxx"]
	path = learning-cxx
	url = https://github.com/JackWang2120/learning-cxx.git
[submodule "rustlings"]
	path = rustlings
	url = https://github.com/JackWang2120/rustlings.git
[submodule "TinyInfiniTensor"]
	path = TinyInfiniTensor
	url = https://github.com/LearningInfiniTensor/TinyInfiniTensor.git
[submodule "learning-lm-rs"]
	path = learning-lm-rs
	url = https://github.com/LearningInfiniTensor/learning-lm-rs.git
